<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.vertec.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.vertec.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.vertec.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrivilegeController</servlet-name>
        <servlet-class>com.vertec.controller.PrivilegeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseController</servlet-name>
        <servlet-class>com.vertec.controller.PurchaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellController</servlet-name>
        <servlet-class>com.vertec.controller.SellController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionController</servlet-name>
        <servlet-class>com.vertec.controller.TransactionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>com.vertec.controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>com.vertec.controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncomeController</servlet-name>
        <servlet-class>com.vertec.controller.IncomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpenseController</servlet-name>
        <servlet-class>com.vertec.controller.ExpenseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiabilitiesController</servlet-name>
        <servlet-class>com.vertec.controller.LiabilitiesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssetLoanController</servlet-name>
        <servlet-class>com.vertec.controller.AssetLoanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvestmentController</servlet-name>
        <servlet-class>com.vertec.controller.InvestmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrawingController</servlet-name>
        <servlet-class>com.vertec.controller.DrawingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FixedAssetController</servlet-name>
        <servlet-class>com.vertec.controller.FixedAssetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinanceTransferController</servlet-name>
        <servlet-class>com.vertec.controller.FinanceTransferController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>com.vertec.controller.ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanPayController</servlet-name>
        <servlet-class>com.vertec.controller.LoanPayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>com.vertec.controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyController</servlet-name>
        <servlet-class>com.vertec.controller.CompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierController</servlet-name>
        <servlet-class>com.vertec.controller.SupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchController</servlet-name>
        <servlet-class>com.vertec.controller.BranchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.vertec.controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockController</servlet-name>
        <servlet-class>com.vertec.controller.StockController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceController</servlet-name>
        <servlet-class>com.vertec.controller.InvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>com.vertec.controller.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>POController</servlet-name>
        <servlet-class>com.vertec.controller.POController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MRNController</servlet-name>
        <servlet-class>com.vertec.controller.MRNController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PRNController</servlet-name>
        <servlet-class>com.vertec.controller.PRNController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GRNController</servlet-name>
        <servlet-class>com.vertec.controller.GRNController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GINController</servlet-name>
        <servlet-class>com.vertec.controller.GINController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GTNController</servlet-name>
        <servlet-class>com.vertec.controller.GTNController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>com.vertec.controller.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankController</servlet-name>
        <servlet-class>com.vertec.controller.BankController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceController</servlet-name>
        <servlet-class>com.vertec.controller.AttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllowanceController</servlet-name>
        <servlet-class>com.vertec.controller.AllowanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaryController</servlet-name>
        <servlet-class>com.vertec.controller.SalaryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uploader</servlet-name>
        <servlet-class>com.vertec.util.uploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUploader</servlet-name>
        <servlet-class>com.vertec.util.ImageUploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatchController</servlet-name>
        <servlet-class>com.vertec.controller.DispatchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnController</servlet-name>
        <servlet-class>com.vertec.controller.ReturnController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>com.vertec.controller.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnController</servlet-name>
        <url-pattern>/Return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchController</servlet-name>
        <url-pattern>/Dispatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uploader</servlet-name>
        <url-pattern>/Uploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUploader</servlet-name>
        <url-pattern>/ImageUploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaryController</servlet-name>
        <url-pattern>/Salary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllowanceController</servlet-name>
        <url-pattern>/Allowance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceController</servlet-name>
        <url-pattern>/Attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankController</servlet-name>
        <url-pattern>/Bank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/Employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GINController</servlet-name>
        <url-pattern>/GIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GRNController</servlet-name>
        <url-pattern>/GRN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GTNController</servlet-name>
        <url-pattern>/GTN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PRNController</servlet-name>
        <url-pattern>/PRN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>POController</servlet-name>
        <url-pattern>/PO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MRNController</servlet-name>
        <url-pattern>/MRN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyController</servlet-name>
        <url-pattern>/Company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierController</servlet-name>
        <url-pattern>/Supplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchController</servlet-name>
        <url-pattern>/Branch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockController</servlet-name>
        <url-pattern>/Stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceController</servlet-name>
        <url-pattern>/Invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanPayController</servlet-name>
        <url-pattern>/LoanPay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinanceTransferController</servlet-name>
        <url-pattern>/FinanceTransfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FixedAssetController</servlet-name>
        <url-pattern>/FixedAsset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvestmentController</servlet-name>
        <url-pattern>/Investment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrawingController</servlet-name>
        <url-pattern>/Drawing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetLoanController</servlet-name>
        <url-pattern>/AssetLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiabilitiesController</servlet-name>
        <url-pattern>/Liability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncomeController</servlet-name>
        <url-pattern>/Income</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpenseController</servlet-name>
        <url-pattern>/Expense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseController</servlet-name>
        <url-pattern>/Purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellController</servlet-name>
        <url-pattern>/Sell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionController</servlet-name>
        <url-pattern>/Transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrivilegeController</servlet-name>
        <url-pattern>/Privilege</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error403.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
