<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/vertec_erp</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123</property>
    
    <mapping class="com.vertec.hibe.model.Account"/>
    <mapping class="com.vertec.hibe.model.Adtype"/>
    <mapping class="com.vertec.hibe.model.Advance"/>
    <mapping class="com.vertec.hibe.model.AllowanceDeduction"/>
    <mapping class="com.vertec.hibe.model.Attendance"/>
    <mapping class="com.vertec.hibe.model.BalanceSheetData"/>
    <mapping class="com.vertec.hibe.model.Bank"/>
    <mapping class="com.vertec.hibe.model.BankAccounts"/>
    <mapping class="com.vertec.hibe.model.Branch"/>
    <mapping class="com.vertec.hibe.model.BranchProductmaster"/>
    <mapping class="com.vertec.hibe.model.BranchStock"/>
    <mapping class="com.vertec.hibe.model.BudgetPlan"/>
    <mapping class="com.vertec.hibe.model.Cheque"/>
    <mapping class="com.vertec.hibe.model.Company"/>
    <mapping class="com.vertec.hibe.model.CompanyGroup"/>
    <mapping class="com.vertec.hibe.model.Customer"/>
    <mapping class="com.vertec.hibe.model.CustomerGroup"/>
    <mapping class="com.vertec.hibe.model.CustomerHasGroup"/>
    <mapping class="com.vertec.hibe.model.CurrencyType"/>
    <mapping class="com.vertec.hibe.model.CustomerRating"/>
    <mapping class="com.vertec.hibe.model.CustomerReturn"/>
    <mapping class="com.vertec.hibe.model.DelInvoice"/>
    <mapping class="com.vertec.hibe.model.Department"/>
    <mapping class="com.vertec.hibe.model.Depreciation"/>
    <mapping class="com.vertec.hibe.model.DepreciationData"/>
    <mapping class="com.vertec.hibe.model.Designation"/>
    <mapping class="com.vertec.hibe.model.DisposeItems"/>
    <mapping class="com.vertec.hibe.model.Employee"/>
    <mapping class="com.vertec.hibe.model.EmployeeType"/>
    <mapping class="com.vertec.hibe.model.Fpfiles"/>
    <mapping class="com.vertec.hibe.model.Gin"/>
    <mapping class="com.vertec.hibe.model.GinInfo"/>
    <mapping class="com.vertec.hibe.model.Grn"/>
    <mapping class="com.vertec.hibe.model.GrnInfo"/>
    <mapping class="com.vertec.hibe.model.GrnPayment"/>
    <mapping class="com.vertec.hibe.model.Gtn"/>
    <mapping class="com.vertec.hibe.model.GtnInfo"/>
    <mapping class="com.vertec.hibe.model.HollyDay"/>
    <mapping class="com.vertec.hibe.model.Invoice"/>
    <mapping class="com.vertec.hibe.model.InvoiceItem"/>
    <mapping class="com.vertec.hibe.model.InvoicePayment"/>
    <mapping class="com.vertec.hibe.model.Leaves"/>
    <mapping class="com.vertec.hibe.model.Loan"/>
    <mapping class="com.vertec.hibe.model.Mrn"/>
    <mapping class="com.vertec.hibe.model.MrnInfo"/>
    <mapping class="com.vertec.hibe.model.OutstandigInvoice"/>
    <mapping class="com.vertec.hibe.model.Payment"/>
    <mapping class="com.vertec.hibe.model.PaymentType"/>
    <mapping class="com.vertec.hibe.model.PayrollDefault"/>
    <mapping class="com.vertec.hibe.model.PoInfo"/>
    <mapping class="com.vertec.hibe.model.Priviledge"/>
    <mapping class="com.vertec.hibe.model.PrivilegeItem"/>
    <mapping class="com.vertec.hibe.model.PrnInfo"/>
    <mapping class="com.vertec.hibe.model.PrnItem"/>
    <mapping class="com.vertec.hibe.model.Product"/>
    <mapping class="com.vertec.hibe.model.ProductCategory"/>
    <mapping class="com.vertec.hibe.model.ProductHasTax"/>
    <mapping class="com.vertec.hibe.model.ProductMaster"/>
    <mapping class="com.vertec.hibe.model.PurchasingOrder"/>
    <mapping class="com.vertec.hibe.model.ReturnByCustomer"/>
    <mapping class="com.vertec.hibe.model.ReturnBySupplier"/>
    <mapping class="com.vertec.hibe.model.ReturnStock"/>
    <mapping class="com.vertec.hibe.model.ReturnToCustomer"/>
    <mapping class="com.vertec.hibe.model.ReturnToSupplier"/>
    <mapping class="com.vertec.hibe.model.Salary"/>
    <mapping class="com.vertec.hibe.model.SalaryAttendance"/>
    <mapping class="com.vertec.hibe.model.SalaryPayment"/>
    <mapping class="com.vertec.hibe.model.SalaryPaymentType"/>
    <mapping class="com.vertec.hibe.model.StaffLoan"/>
    <mapping class="com.vertec.hibe.model.StockReturn"/>
    <mapping class="com.vertec.hibe.model.Subtype"/>
    <mapping class="com.vertec.hibe.model.Supplier"/>
    <mapping class="com.vertec.hibe.model.SupplierGroup"/>
    <mapping class="com.vertec.hibe.model.SupplierHasGroup"/>
    <mapping class="com.vertec.hibe.model.SupplierReturn"/>
    <mapping class="com.vertec.hibe.model.SysUser"/>
    <mapping class="com.vertec.hibe.model.Tax"/>
    <mapping class="com.vertec.hibe.model.Transaction"/>
    <mapping class="com.vertec.hibe.model.Type"/>
    <mapping class="com.vertec.hibe.model.UserGroup"/>
    <mapping class="com.vertec.hibe.model.UserGroupPriviledge"/>
    <mapping class="com.vertec.hibe.model.UserGroupPrivilegeItem"/>
    <mapping class="com.vertec.hibe.model.WorkingDays"/>
  </session-factory>
</hibernate-configuration>
